@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;1,400&display=swap");
* {
  font-family: "Cormorant", serif;
}

html {
  scroll-behavior: smooth !important;
}

nav {
  width: 100% !important;
  min-height: 100px !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
  padding: 0 25px;
  background: #1b1e27;
}

nav .logo {
  width: 100px;
}

nav .logo img {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .logo img:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem #855723);
          filter: drop-shadow(0 0 0.75rem #855723);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav a {
  color: #fff !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav a:hover {
  color: #855723 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav a:active {
  color: #855723 !important;
}

header {
  min-height: 100vh !important;
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .card {
  height: 100% !important;
  background: rgba(0, 0, 0, 0.7) !important;
}

header .card h1 {
  font-size: 75px;
  text-align: left;
  width: 70%;
}

header .card p {
  font-size: 20px;
  width: 50%;
  text-align: left;
}

header .card a {
  background: #855723;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .card a:hover {
  background: #64421b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Intruducing span {
  color: #855723;
}

.Intruducing img {
  width: 35%;
}

.Services {
  background: #1b1e27;
}

.Services h2 {
  color: #855723;
}

.Services .card {
  -webkit-box-shadow: 0px 0px 10px -5px #855723;
          box-shadow: 0px 0px 10px -5px #855723;
}

.Services .card img {
  width: calc(100% - 50px);
}

.Barbers h2 {
  color: #855723;
}

.Barbers .card {
  width: 320px !important;
  background: #1b1e27 !important;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px #000;
          box-shadow: 0px 0px 5px 0px #000;
}

.Barbers .card .card-img-overlay {
  width: 100%;
  height: 25%;
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #1b1e27;
}

.Barbers .card .card-img-overlay h3 {
  color: #855723 !important;
}

.Barbers .card .card-img-overlay .barber-social li a {
  font-size: 25px;
  margin-right: 10px;
  color: #fff;
}

.Barbers .card:hover .card-img-overlay {
  top: 75%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Gallery h2 {
  color: #855723;
}

.Gallery .row {
  row-gap: 10px;
}

.Gallery .row .col-md-3 .card {
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 4px 0px #000;
          box-shadow: 0px 0px 4px 0px #000;
  border: none;
}

.Gallery .row .col-md-3 .card:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Appointment {
  padding: 10% 0;
  background: #1b1e27;
}

.Appointment form input {
  border-radius: 0 !important;
}

.Appointment form input[type="date"] {
  width: 100%;
  height: 100%;
  border: none;
}

.Appointment form .form-check a {
  color: #855723;
}

.Appointment form button {
  background: #855723;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Appointment form button:hover {
  background: #64421b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Appointment .maps .card-img-overlay {
  background: #1b1e27;
  opacity: 0.9;
}

@media only screen and (max-width: 768px) {
  header {
    min-height: 100vh !important;
  }
  header .card h1 {
    font-size: 60px;
    width: 100%;
  }
  header .card p {
    width: 100%;
  }
  .Services .col-md-8 {
    margin-top: 25px !important;
  }
  .Barbers .col-md-4 {
    margin-top: 25px;
  }
  .Gallery .col-md-3 {
    margin-top: 25px;
  }
  .Appointment .col-md-5 {
    margin-top: 25px;
  }
  footer a:nth-child(3) {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */