.simpleblog {
    span.card-text {
        font-size: 0.75em;
        color: grey;
        a {
            text-decoration: none;
            color: grey;
        }
    }
    .sub-text {
        font-size: 1em;
        letter-spacing: 2px;
    }
    article {
        letter-spacing: 2px;
    }
}